ANDROID_SMS_GATEWAY_TOKEN=
ANDROID_SMS_GATEWAY_URL=
FRONTEND_ORIGIN=
FRONTEND_URL=
HOST=
JWT_SECRET=
MONGO_URI=
QR_PUBLIC_BASE_URL=
TOKEN=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=
VITE_API_URL=
VITE_SOCKET_URL=